:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;

    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 14px;
}